@import 'mixins.styl'

*
	bbox()

body, html
	rect 100%
	margin 0
	padding 0
	overflow hidden
	font-family monospace

.canvas-e
	background-color #111

.guitar-image-e
	position absolute
	display none

.font-holder-e
	font-family: 'ToneDeafBB'
	// color white
	// position absolute
	// z-index: 20
	// top 20px
	// left 20px
	// font-size 200px
