* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
  background-color: #000;
}
.twitter-icon-b {
  position: absolute;
  left: 750px;
  top: 475px;
}
.twitter-icon-b .circle1-be,
.twitter-icon-b .circle2-be,
.twitter-icon-b .circle3-be {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #00aced;
  border-radius: 50%;
  top: 150px;
  left: 150px;
  z-index: 2;
}
.twitter-icon-b .circle2-be {
  background-color: #21c2ff;
  z-index: 1;
}
.twitter-icon-b .circle3-be {
  background-color: #54d0ff;
  z-index: 0;
}
.twitter-icon-b .twitter-icon-text-be {
  color: #fff;
  text-decoration: none;
  position: absolute;
  z-index: 11;
  top: 150px;
  left: 50px;
  opacity: 0;
}
.twitter-icon-b .twitter-mask-be {
  position: relative;
  z-index: 9;
  background: transparent url("../i/twitter.png") no-repeat center center;
  width: 300px;
  height: 300px;
  display: none;
}
.twitter-icon-b .hover-circle-be {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 130px;
  left: 130px;
  z-index: 10;
  overflow: hidden;
}
.twitter-icon-b .hover-circle-be:hover {
  width: 200px;
  height: 200px;
  top: 50px;
  left: 50px;
}
.twitter-icon-b .hover-circle-be:hover ~ .twitter-mask-be {
  display: block;
}
.twitter-icon-b .hover-circle-be:hover ~ .circle1-be,
.twitter-icon-b .hover-circle-be:hover ~ .circle2-be,
.twitter-icon-b .hover-circle-be:hover ~ .circle3-be {
  width: 250px;
  height: 250px;
  top: 20px;
  left: 20px;
}
.twitter-icon-b .hover-circle-be:hover ~ .circle1-be {
  -webkit-transition: all 0.9s ease-out;
  -moz-transition: all 0.9s ease-out;
  -ms-transition: all 0.9s ease-out;
  -o-transition: all 0.9s ease-out;
}
.twitter-icon-b .hover-circle-be:hover ~ .circle2-be {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
}
.twitter-icon-b .hover-circle-be:hover ~ .circle3-be {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.twitter-icon-b .hover-circle-be:hover .twitter-icon-text-be {
  left: 50px;
  top: 100px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.canvas-e {
  background-color: transparent;
}
.canvas-e:hover ~ .circle1-be,
.canvas-e:hover ~ .circle2-be,
.canvas-e:hover ~ .circle3-be {
  top: 530px;
  left: 800px;
  width: 250px;
  height: 250px;
}
.canvas-e:hover ~ .circle1-be {
  -webkit-transition: all 0.9s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}
.canvas-e:hover ~ .circle2-be {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
}
.canvas-e:hover ~ .circle2-be {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.canvas-e:hover ~ .twitter-icon-e {
  left: 880px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.guitar-image-e {
  position: absolute;
  display: none;
}
.font-holder-e {
  font-family: 'ToneDeafBB';
}
