!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
		//- link(href='http://fonts.googleapis.com/css?family=Lobster+Two&v1', rel='stylesheet', type='text/css')
	body
		canvas(id="myCanvas", class="precious-canvas-e")


		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/tween.min.js")
		script(type="text/javascript", src="js/paper.js")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas")