!!!5
html(manifest="cache.manifest")
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		img(src="i/guitar.png", id="guitar", class="guitar-image-e", alt="")

		canvas(id="myCanvas", class="canvas-e")

		.twitter-icon-b
			.hover-circle-be
				a(class="twitter-icon-text-be", href="http://twitter.com/mailtolego", target="_blank") @mailtolego
				
			.twitter-mask-be
			.circle1-be
			.circle2-be
			.circle3-be
			

		
		.font-holder-e &nbsp;

		.my-gui-container

		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/tween.min.js")
		script(type="text/javascript", src="js/paper.js")
		script(type="text/javascript", src="js/data.js")
		script(type="text/javascript", src="js/dat.gui.min.js")
		script(type="text/javascript", src="js/jq-events.js")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas")