!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		img(src="i/guitar.png", id="guitar", class="guitar-image-e", alt="")
		img(src="i/text.png", id="text", class="guitar-image-e", alt="")

		canvas(id="myCanvas", class="canvas-e")
		
		.font-holder-e &nbsp;

		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/tween.min.js")
		script(type="text/javascript", src="js/paper.js")
		script(type="text/paperscript", src="js/main.js", canvas="myCanvas")